@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './variables.scss';

html, body {
    font-family: $font-main;
    background-color: $color-dark-blue-100;
    color: $color-white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0;
}

p {
    margin: 0;
}
