$font-main: 'Outfit', sans-serif;

$color-white: #F7F4F3;
$color-black: #000;
$color-black-100: #343434;
$color-black-200: #424B54;

$color-dark-blue-100: #1D243A;
$color-dark-blue-200: #445E93;

$color-blue-100: #00BBF9;

$color-green-100: #45CB85;
$color-green-200: #A7C957;

$color-red-100: #FF8360;